body {
    background-color: rgb(255, 255, 255);
    font-family: Arial;
    padding: 20px;
    margin: 20;
    border-width: 5px;
    border-color:black;
    border-style: inset solid;
}

h1 {
    background-color: rgb(224, 12, 224);
    text-align: center;
    color: black;
    font-size: 2em;
    padding: 0px;
}

h2 {
    color: black;
    text-align: center;
}

img {
    height: 250px;
}

p {
    background-color: blue;
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 1.5em;
}

section {
    padding: 20px;
    margin: 20px;
    color: blue;
    
}

article {
    background-color: violet;
    padding: 20px;
    margin: 20px;
    border-width: 5px;
    border-color:black;
    border-style: inset solid;
    text-align: center;
}

nav {
    display: flex;
}

nav>article {
    flex: 1;
}
div{
    text-align: center;
}

